.chat-main
  .main-header
    .main-header__left-box
      .main-header__current-group
      sato
      .main-header__left-box__member-list
        Member:
        .main-header__left-box__member-list__member
          aaaa
    = link_to "#" do
      .main-header__edit-btn
        Edit
            
  .messages
  .chat-messages
  .chat-form

  %form.new_message
    .input-box
      
      %input(type="text")/
      %label(for="")
