.chat-side
  .chat-side__header
    .chat-side__header__box
      .chat-side__header__user
        sato
      .chat-side__header__menu
        .chat-side__header__newgroup
          = link_to "#" do
            = icon('fas', 'edit')
        .chat-side__header__edituser
          = link_to "#" do
            = icon('fas', 'cog')
          
  .chat-side__groups
    .chat-side__group
      .chat-side__groupname
        aaaaa
      .chat-side__groupmessage
        まだメッセージはありません
